<!doctype html>
<meta charset="UTF-8">



<div class="container-fluid">
  <div class="row">
    <section>

      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">Load File</h4>
        </div>
        <div class="panel-body">
          <div file-input="file" on-change="readFile()"></div>
        </div>
        <div class="panel-footer">
          <div class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-left btn-danger" ng-click="close()">
                <span class="glyphicon glyphicon-remove" aria-hidden="false"></span>&nbsp;Close&nbsp;
              </button>
              <button type="button" class="btn btn-right btn-success" ng-click="save()">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="false"></span>&nbsp;Save&nbsp;
              </button>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>
</div>
