<!doctype html>
<meta charset="UTF-8">

<div class="container-fluid">
  <div class="row">
    <section>

      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">Add Match</h4>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" role="form" novalidate>
            <div class="row">
              <div class="col-lg-8">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">Home</span>
                  <input ng-model="formData.teams[0].name" type="text" class="form-control" placeholder="Home" aria-describedby="basic-addon1">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2">Points</span>
                  <input ng-model="formData.scores[0]" type="number" class="form-control" placeholder="0" aria-describedby="basic-addon2">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-8">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon3">Visitor</span>
                  <input ng-model="formData.teams[1].name" type="text" class="form-control" placeholder="Visitor" aria-describedby="basic-addon3">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon4">Points</span>
                  <input ng-model="formData.scores[1]" type="number" class="form-control" placeholder="0" aria-describedby="basic-addon4">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-footer">
          <div class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-left btn-danger" ng-click="close()">
                <span class="glyphicon glyphicon-remove" aria-hidden="false"></span>&nbsp;Close&nbsp;
              </button>
              <button type="button" class="btn btn-right btn-success" ng-click="save()">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="false"></span>&nbsp;Save&nbsp;
              </button>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>
</div>
